<?php $title = "Mina projektrum | E.ONs intranät Elin"; ?>
<?php $sel = "2"; ?>
<?php include('includes/doctype-and-head.html'); ?>
</head>
<body class="layout-1">
	<div id="body">
		<?php include('includes/header.html'); ?>
		<div id="main" class="cf">
			<div id="content">
				<div class="content-1">
					<?php include('includes/nav-sub-profile.html'); ?>
				</div>
				<div class="content-2">
					<div class="content-2-1">
						<div id="content-primary" class="article cf" role="main">
							<h1>Mina projektrum</h1>
							<div class="intro">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis lacus, dapibus a consequat vel, ultrices ac mi. In vitae sem sit amet neque ultrices vehicula at non sem.</p>
							</div>
							<div class="nav-tabs cf" role="navigation">
								<h2 class="structural">Visa sökträffar inom:</h2>
								<ul class="cf">
									<li data-selected><a href="profile-projects.html"><strong>Mina projektrum</strong></a></li>
									<li><a href="profile-projects-hidden.html">Dolda projektrum</a></li>
								</ul>
							</div>
							<div class="m m-content-list">
								<ul>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 1</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 2</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 3</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 4</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 5</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 6</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 7</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 8</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
									<li class="cf">
										<div class="note">
											<a href="netrp-<?php echo $id = uniqid('e'); ?>">Projektrumsnamn 9</a>
											<span class="project-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
										<div class="tools">
											<form action="/" method="post">
												<input type="hidden" name="hide-project" value="">
												<button type="submit" class="hide confirm-button" title="Dölj projekrummet?"><span>Dölj</span></button>
											</form>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-2-2">
						<div role="complementary">
							<?php include('includes/teaser-1.html'); ?>
						</div>
					</div>
				</div>
			</div>
			<?php include('includes/breadcrumbs.html'); ?>
		</div>
		<?php include('includes/footer.html'); ?>
	</div>
	<?php include('includes/scripts.html'); ?>
</body>
</html>