<div class="nav-sub" role="navigation" data-text-show="Visa undernavigering" data-text-hide="Dölj undernavigering" data-content-url="temp/submenu.html">
	<nav>
		<h2><a href=""><span class="structural">Undernavigering för </span>Min anställning</a></h2>
		<ul>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Arbetstid och frånvaro</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Lön</a></li>
			<li data-page-id="12" data-expanded="true">
				<a href="netrp-<?php echo $id = uniqid('e'); ?>">Förmåner och erbjudande</a>
				<ul>
					<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Utbildning och kurser</a></li>
					<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Lediga jobb</a></li>
					<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Fritidsklubbar</a></li>
					<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Fackliga organisationer</a></li>
					<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Registrera CV</a></li>
					<li data-page-id="112" data-expanded="true">
						<a href="netrp-<?php echo $id = uniqid('e'); ?>">Arbetstid och frånvaro</a>
						<ul>
							<li data-page-id="114"><a href="netrp-<?php echo $id = uniqid('e'); ?>">Utbildning och kurser</a></li>
							<li data-selected ><a href="netrp-<?php echo $id = uniqid('e'); ?>"><strong>Lediga jobb</strong></a></li>
							<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Fritidsklubbar</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Utvecklingssamtal</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Utbildning och kurser</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Lediga jobb</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Karriärutveckling</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Fackliga organisationer</a></li>
			<li><a href="netrp-<?php echo $id = uniqid('e'); ?>">Fritidsklubbar</a></li>
		</ul>
	</nav>
</div>
